html {
  scroll-behavior: smooth;
}

body{ 
	background-color: #F6F6F8;
	font-family: monaco;
	line-height: 22px;
} 


h1{
	color: black;
	text-align:center; 
	font-size: 1.5em
}

h2 {
	color: black;
	font-size: 1.3em
}

#navBar{
	list-style-type: none;
	background-color: #CDCBCD;
	margin: 0; 
	padding: 0;
	width: 20%;
	position:  fixed;
}

a {
  display: block;
  text-align:center
}

a :not(.links){
	color: black;
  outline: none;
  text-decoration: none;
}

a:link:not(.links) {
	color:  black;
	outline: none;
  text-decoration: none;
}

a:visited:not(.links) {
	color:  black;
	outline: none;
  text-decoration: none;
}

a:hover:not(.links) {
  background-color: #2286AA;
  color: white;
}



.links:not(.nav) {
	color:#2286AA
	text-align:center
}

.links:link:not(.nav) {
	color: blue;
}

.links:visited:not(.nav) {
	color: mediumpurple;
}

.links:hover:not(.nav) {
	color: blue;
}

main {
	margin-left: 20%;
	padding: 0.5px 16px;
}

.active {
	background-color: #335571;
  color: white;
}

img {
	width: 400px;
  height: 350px;

  style: vertical-align:middle
}

.span1 {
	font-family: monaco;
	color: D7CBC1;
	border-radius: 5px;
	padding: 3px;
	margin: 2px;
	background-color: lightgray;
	color:#2286AA;
}

.span2 {
	font-family: monaco;
	border-radius: 10px;
	padding: 20px;
	background-color: #CDCBCD;
	color: #335571;
}

footer {
	align-content: center;
	background-color: #CDCBCD;
	padding: 10px 20px;
	columns: 3;
}
